@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

html{
    color: wheat;
    background-color: black;
}

Canvas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: wheat;
}